        <div class="row">
            
            <div class="col-6 bg-login">
            <div class="margin-body">
            <div class="card">
                <div class="card-body">
                    <div class="image">
                    <img src="assets/image/fordpng.png" class="fordpng" alt="">
                </div>
                    <form>
                        <div class="form-group">
                        <div class="logintext">Account Login</div>
                          <label for="formGroupExampleInput">Username</label>
                          <input type="text" class="form-control" placeholder="Username">
                        </div>
                        <div class="form-group">
                          <label for="formGroupExampleInput2">Password</label>
                          <input type="password" class="form-control"  placeholder="Password"> <br>
                        </div>
                        <button type="button" routerLink="/table" class="btn-login">LOGIN</button>
                      </form>
                </div>
            </div>
            </div>
        </div>
        <div class="col-6">
                        <div class="myself">
                        <img src="assets/image/myself.png" class="pp" alt="">
                        </div>
                        <h1 class="text2" > My Profile</h1>
                        <div class="des">
                        <span>ชื่อ : พีพี <br>
                        การศึกษา <br>
                        มัธยม : โรงเรียนพะเยาพิทยาคม <br>
                        มหาวิทยาลัย : มหาวิทยาลัยพะเยา <br>
                        จังหวัด : พะเยา </span>
                        </div>
                </div>
        </div>
    




<!-- <div class="row">
    <div class="col-6 bg-login">

    </div>
    <div class="col-6">

    </div>
</div> -->


